#bienvenida .row .slider .slides li {
  color: #fff; }
  #bienvenida .row .slider .slides li img {
    height: 610px;
    z-index: -100;
    position: fixed;
    left: 0; }
  #bienvenida .row .slider .slides li h2 {
    font-weight: bolder;
    margin-top: 200px;
    font-size: 70px; }
  #bienvenida .row .slider .slides li span {
    font-size: 18px; }
  #bienvenida .row .slider .slides li a {
    padding-top: 10px;
    margin-top: 50px;
    height: 50px; }
  #bienvenida .row .slider .slides li a:hover {
    box-shadow: 1px 10px 20px rgba(233, 30, 99, 0.5); }
#bienvenida .row .slider .material-icons {
  position: inherit;
  top: 50%;
  z-index: 100;
  margin: 0 80px;
  font-size: 60px;
  color: #fff;
  opacity: 0.5; }
#bienvenida .row .slider .material-icons:hover {
  opacity: 1; }
#bienvenida .row .slider .right-icon {
  right: 0; }

#cont-mayor {
  height: 600px; }
  #cont-mayor .primer-row {
    margin-top: 550px; }
    #cont-mayor .primer-row #features {
      position: absolute;
      margin-left: 2.5%;
      width: 95%;
      z-index: 10;
      box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
      height: 600px;
      border-radius: 5px 5px 0 0; }
      #cont-mayor .primer-row #features .segundo-row {
        margin: 80px 0; }
        #cont-mayor .primer-row #features .segundo-row div h5 {
          font-size: 129%;
          line-height: 150%;
          font-weight: 300; }
      #cont-mayor .primer-row #features .tercer-row .primer-col .cuarto-row {
        margin-bottom: 0;
        margin-left: 25px; }
        #cont-mayor .primer-row #features .tercer-row .primer-col .cuarto-row .square {
          height: 14px;
          width: 19px;
          border-radius: 4px;
          float: left;
          margin: 2px; }
      #cont-mayor .primer-row #features .tercer-row .primer-col .text-responsive h5 {
        font-family: 'Roboto Slab', serif;
        color: #3c4858;
        font-weight: 600;
        margin-top: 50px;
        font-size: large; }
      #cont-mayor .primer-row #features .tercer-row .primer-col .text-responsive p {
        font-weight: 300;
        font-size: medium;
        width: 350px;
        margin-left: 13px; }
      #cont-mayor .primer-row #features .tercer-row .segundo-col .cont-icon-azul {
        margin-bottom: 0;
        margin-left: 25px; }
        #cont-mayor .primer-row #features .tercer-row .segundo-col .cont-icon-azul .square-blue {
          height: 14px;
          width: 19px;
          border-radius: 4px;
          float: left;
          margin: 2px; }
        #cont-mayor .primer-row #features .tercer-row .segundo-col .cont-icon-azul .rectangle-blue {
          height: 14px;
          width: 40px;
          border-radius: 4px;
          float: left;
          margin: 2px; }
      #cont-mayor .primer-row #features .tercer-row .segundo-col .text-responsive h5 {
        font-family: 'Roboto Slab', serif;
        color: #3c4858;
        font-weight: 600;
        margin-top: 50px;
        font-size: large; }
      #cont-mayor .primer-row #features .tercer-row .segundo-col .text-responsive p {
        font-weight: 300;
        font-size: medium;
        width: 350px;
        margin-left: 13px; }
      #cont-mayor .primer-row #features .tercer-row .tercer-col .cont-icon-green {
        margin-bottom: 0;
        margin-left: 25px; }
        #cont-mayor .primer-row #features .tercer-row .tercer-col .cont-icon-green .rectangle-green {
          height: 10px;
          width: 60px;
          border-radius: 4px;
          margin: 8px; }
        #cont-mayor .primer-row #features .tercer-row .tercer-col .cont-icon-green .ultimo-rect {
          margin-bottom: 0; }
      #cont-mayor .primer-row #features .tercer-row .tercer-col .text-responsive h5 {
        font-family: 'Roboto Slab', serif;
        color: #3c4858;
        font-weight: 600;
        margin-top: 50px;
        font-size: large; }
      #cont-mayor .primer-row #features .tercer-row .tercer-col .text-responsive p {
        font-weight: 300;
        font-size: medium;
        width: 350px;
        margin-left: 13px; }

#about .primer-row-about {
  margin-bottom: 0; }
  #about .primer-row-about #who-are {
    margin-left: 2.5%;
    width: 95%;
    z-index: 10;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
    height: 1000px;
    /*-webkit-filter: grayscale(50%); 
    filter: grayscale(50%);*/ }
    #about .primer-row-about #who-are .primer-who {
      margin-left: 30px; }
      #about .primer-row-about #who-are .primer-who h4 {
        font-family: "Roboto Slab",serif;
        font-weight: 700;
        margin-top: 60px; }
      #about .primer-row-about #who-are .primer-who p {
        font-size: 19px;
        font-weight: 300; }
    #about .primer-row-about #who-are .segundo-who .img-responsive {
      width: 100%;
      margin-top: 40px; }
    #about .primer-row-about #who-are .video-who iframe {
      width: 100%;
      height: 420px; }

#products .primer-row-products .cont-products {
  margin-left: 2.5%;
  width: 95%;
  z-index: 10;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  height: 950px; }
  #products .primer-row-products .cont-products h4 {
    font-family: 'Roboto Slab', serif;
    color: #3c4858;
    font-weight: 600;
    margin-top: 50px;
    margin: 35px 0;
    padding-top: 40px; }
  #products .primer-row-products .cont-products p {
    line-height: 150%;
    font-weight: 300;
    font-size: 129%;
    margin-bottom: 80px; }
  #products .primer-row-products .cont-products .row .col .card-table {
    border-radius: 6px;
    height: 625px; }
    #products .primer-row-products .cont-products .row .col .card-table .card-image img {
      border-radius: 6px;
      position: relative;
      top: -26px;
      width: 90%; }
    #products .primer-row-products .cont-products .row .col .card-table .card-image img:hover {
      top: -36px;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3); }
    #products .primer-row-products .cont-products .row .col .card-table .card-content .product-type {
      margin: 0;
      font-size: small;
      font-weight: 500; }
    #products .primer-row-products .cont-products .row .col .card-table .card-content .title-product {
      margin-top: 20px;
      padding: 0;
      font-size: large; }
    #products .primer-row-products .cont-products .row .col .card-table .card-content .descrip {
      width: 215px;
      font-weight: 300;
      margin-left: 30px;
      font-size: 15px;
      margin-bottom: 20px; }
    #products .primer-row-products .cont-products .row .col .card-table .footer-card {
      display: flex;
      justify-content: space-around; }
      #products .primer-row-products .cont-products .row .col .card-table .footer-card p {
        color: #3c4858;
        margin: 0; }

#portfolio .primer-row-portfolio .cont-portfolio {
  margin-left: 2.5%;
  width: 95%;
  z-index: 10;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2); }
  #portfolio .primer-row-portfolio .cont-portfolio h4 {
    font-family: 'Roboto Slab', serif;
    color: #3c4858;
    font-weight: 600;
    margin-top: 50px;
    margin: 35px 0;
    padding-top: 40px; }
  #portfolio .primer-row-portfolio .cont-portfolio p {
    line-height: 150%;
    font-weight: 300;
    font-size: 129%;
    margin-bottom: 80px; }
  #portfolio .primer-row-portfolio .cont-portfolio .row .m4 img {
    border-radius: 7px;
    width: 90%; }
  #portfolio .primer-row-portfolio .cont-portfolio .row .m6 img {
    border-radius: 7px;
    height: 275px;
    width: 93%; }

/*# sourceMappingURL=main.css.map */
