@import '_variables.scss';
@import '_mixin.scss';
#bienvenida{
	.row{
		.slider{
			.slides{
				li{
				color:$color_blanco;
					img{
						height:$img_slider_size;
						z-index: -100;
						position: fixed;
						left: 0;
					}
					h2{
						font-weight: bolder;
						margin-top: 200px;
						font-size: 70px;
					}
					span{
						font-size:$font_size_menor;
					}
					a{
						padding-top: 10px;
						margin-top: 50px;
						height: 50px;
					}
					a:hover{
						box-shadow: 1px 10px 20px rgba(233, 30, 99, 0.5);
						
					}
				}
				
			}
			.material-icons{
						position: inherit;
						top: 50%;
						z-index: 100;
						margin: 0 80px;
						font-size: 60px;
						color:$color_blanco;
						opacity: 0.5;
				}
			.material-icons:hover{
				opacity: 1;
			}
			.right-icon{
				right:0;
			}
		}
	}
}
#cont-mayor{
height: 600px;
	.primer-row{
	margin-top: 550px;
		#features{
		position: absolute;
		@include sect();
		height: 600px;
		border-radius: 5px 5px 0 0;
			.segundo-row{
			margin: 80px 0;
				div{
					h5{
						font-size: 129%;
						line-height: 150%;
						font-weight: 300;
					}
				}
			}
			.tercer-row{
				.primer-col{
					.cuarto-row{
					@include marg();
						.square{
							@include squa();
						}
					}
					.text-responsive{
						h5{
							@include titulo();
						}
						p{
							@include lorem();
						}
					}
				}
				.segundo-col{
					.cont-icon-azul{
					@include marg();
						.square-blue{
							@include squa();
						}
						.rectangle-blue{
							height: 14px;
							width: 40px;
							border-radius: 4px;
							float: left;
							margin: 2px;
						}
					}
					.text-responsive{
						h5{
							@include titulo();
						}
						p{
							@include lorem();
						}
					}
				}//col
				.tercer-col{
					.cont-icon-green{
					@include marg();
						.rectangle-green{
							height: 10px;
							width: 60px;
							border-radius: 4px;
							margin: 8px;
						}
						.ultimo-rect{
							margin-bottom: 0;
						}
					}
					.text-responsive{
						h5{
							@include titulo();
						}
						p{
							@include lorem();
						}
					}
				}// tercer col
			}// tercer row
		}//col features
	}//primer row
}//section
#about{
	.primer-row-about{
	margin-bottom: 0;
		#who-are{
		@include sect();
		height:1000px;
		/*-webkit-filter: grayscale(50%); 
		filter: grayscale(50%);*/
			.primer-who{
			margin-left: 30px;
				h4{
					font-family: "Roboto Slab",serif;
					font-weight: 700;
					margin-top: 60px;
				}
				p{
					font-size: 19px;
					font-weight: 300;
				}
			}//col
			.segundo-who{
				.img-responsive{
					width: 100%;
					margin-top: 40px;
				}
			}//col
			.video-who{
				iframe{
					width:100%;
					height: 420px;
				}
			}
		}//col
	}//row
}//section
#products{
	.primer-row-products{
		.cont-products{
		@include sect();
		height: 500px;
		
		}
	}
}