$body_font:"Roboto","Helvetica","Arial",sans-serif;
$img_slider_size:610px;
$color_azul_raro:#3c4858;
$color_footer_background:#323437;
$color_blanco:#fff;
$color_rosado_boton:#e91e63;
$font_size_menor:18px;
